<?php
/**
 * @package     {{ .FullName }}
 *
 * @copyright   Copyright (C) {{ .Year }} {{ .Vendor }}. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */

defined('_JEXEC') or die;

/** @var \Joomla\CMS\Document\HtmlDocument $this */

$app   = $this->getApplication();
$user  = $app->getIdentity();

?><!DOCTYPE html>
<html lang="<?php echo $this->language; ?>" dir="<?php echo $this->direction; ?>">
<head>
    <jdoc:include type="head" />
</head>
<body class="component <?php echo $this->direction === 'rtl' ? 'rtl' : ''; ?>">
    <div class="container">
        <jdoc:include type="message" />
        <jdoc:include type="component" />
    </div>
</body>
</html>
