<?php
/**
 * @package     {{ .FullName }}
 *
 * @copyright   Copyright (C) {{ .Year }} {{ .Vendor }}. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */

defined('_JEXEC') or die;
?>
<div class="{{ .Prefix }}{{ .Name }}">
    <p><?php echo "Hello from {{ .FullName }}"; ?></p>
</div>
