<?php
/**
 * @package     {{ .FullName }}
 *
 * @copyright   Copyright (C) {{ .Year }} {{ .Vendor }}. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */

namespace {{ .Namespace }}\Administrator\Extension;

defined('_JEXEC') or die;

use Joomla\CMS\Extension\BootableExtensionInterface;
use Joomla\CMS\Extension\MVCComponent;
use Joomla\CMS\HTML\HTMLRegistryAwareTrait;
use Psr\Container\ContainerInterface;

class {{ .ClassName }}Component extends MVCComponent implements BootableExtensionInterface
{
    use HTMLRegistryAwareTrait;

    /**
     * Booting the extension.
     *
     * @param   ContainerInterface  $container  The container.
     *
     * @return  void
     */
    public function boot(ContainerInterface $container): void
    {
        // Register component HTML helpers
    }
}
