# Joomla
JOOMLA_SITE_NAME="Joomla"
JOOMLA_ADMIN_USER="Joomla Hero"
JOOMLA_ADMIN_USERNAME="joomla"
JOOMLA_ADMIN_PASSWORD="joomla@secured"
JOOMLA_ADMIN_EMAIL="joomla@example.com"
JOOMLA_DB_USER="joomla"
JOOMLA_DB_PASSWORD="joomla"
JOOMLA_DB_NAME="joomla_db"
JOOMLA_DB_PREFIX="joom_"
JOOMLA_SMTP_HOST="mail:1025"

# MySQL / MariaDB root
ROOT_PASSWORD="mariadb"

# Timezone
TZ="UTC"