# Joomla
JOOMLA_SITE_NAME="{{.SiteName}}"
JOOMLA_ADMIN_USER="{{.AdminUser}}"
JOOMLA_ADMIN_USERNAME="{{.AdminUsername}}"
JOOMLA_ADMIN_PASSWORD="{{.AdminPassword}}"
JOOMLA_ADMIN_EMAIL="{{.AdminEmail}}"
JOOMLA_DB_USER="{{.DBUser}}"
JOOMLA_DB_PASSWORD="{{.DBPassword}}"
JOOMLA_DB_NAME="{{.DBName}}"
JOOMLA_DB_PREFIX="{{.DBPrefix}}"
JOOMLA_SMTP_HOST="{{.SMTPHost}}"

# MySQL / MariaDB root
ROOT_PASSWORD="{{.RootPassword}}"

# Timezone
TZ="{{.Timezone}}"
